<RadzenRow>
    <RadzenColumn Size="2">
        <RadzenStack Gap="1rem">
            <RadzenCard Visible="@(SelectedCompendium != null)">
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Navigation</RadzenText>
                <Navigator SelectedCompendium="SelectedCompendium"
                           CompendiumExpanded="OnCompendiumExpanded"
                           CompendiumCollapsed="OnCompendiumCollapsed"
                           LabelExpanded="OnLabelExpanded"
                           LabelCollapsed="OnLabelCollapsed"
                           SourceSelected="OnSourceDataSetSelected" />
            </RadzenCard>
        </RadzenStack>
    </RadzenColumn>
    <RadzenColumn Size="10">
        <RadzenTabs>
            <Tabs>
                @if (SelectedSourceDataSet != null)
                {
                    <RadzenTabsItem Text="Source">
                        <Source SelectedSource="SelectedSourceDataSet" />
                    </RadzenTabsItem>

                    <RadzenTabsItem Text="Editor">
                        <Editor Source="SelectedSourceDataSet"/>
                    </RadzenTabsItem>
                }
                else if (SelectedSourceDataSetGrouping != null)
                {
                    <RadzenTabsItem Text="Label">
                        <Label SelectedSource="SelectedSourceDataSetGrouping"
                               AllSources="SelectedCompendium.SourceDataSets"
                               LabelChanged="OnLabelAssignmentChanged"></Label>
                    </RadzenTabsItem>
                }
                else if (SelectedCompendium != null)
                {
                    <RadzenTabsItem Text="Compendium">
                        <Compendium SelectedCompendium="SelectedCompendium" />
                    </RadzenTabsItem>
                }
            </Tabs>
        </RadzenTabs>
    </RadzenColumn>
</RadzenRow>
