@using CampaignKit.Compendium.Helper.Pages
@inherits LayoutComponentBase
<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

<!-- Create a RadzenLayout according to the following specifications:
    1. Page header with the following content:
        a. A RadzenImage with the CampaignKit logo
        b. A RadzenMenu named "File" with the following items:
            i. A RadzenMenuItem with the text "New" and the click event New 
            ii. A RadzenMenuItem with the text "Open" and the click event Open
            iii. A RadzenMenuItem with the text "Save" and the click event Save
    2. Body of the page should be comprised of:
        a. A narrow vertical panel on the left for navigating compendiums
        b. A wide vertical panel on the right for viewing and editing compendiums  
-->
<RadzenLayout>
    <RadzenHeader>
        <div class="d-flex align-items-center">
            <RadzenImage Src="/images/logo.png" />
            <RadzenMenu>
                <RadzenMenuItem Text="File" Icon="folder">
                    <RadzenMenuItem Text="New.." Icon="add" Click="ShowNewDialog"/>
                    <RadzenMenuItem Text="Upload..." Icon="file_upload" Click="ShowUploadDialog" />
                    <RadzenMenuItem Text="Download..." Icon="file_download" Click="OnDownloadSelected" Visible="(SelectedCompendium != null)"/>
                    <hr class="separator mx-2 text-dark">
                    <RadzenMenuItem Text="W.O.I.N." Icon="folder" Click="@(args => ShowPackageDialog(_packages["woin"][0], _packages["woin"][1]))" />
                </RadzenMenuItem>
            </RadzenMenu>
        </div>
    </RadzenHeader>
    <RadzenBody>
        <Body SelectedCompendium="SelectedCompendium" ></Body>
    </RadzenBody>
</RadzenLayout>

@code{

    /// <summary>
    /// Dictionary containing package names and locations.
    /// </summary>
    private Dictionary<string, List<string>> _packages = new()
    {
        { "woin", new List<string> 
            { 
                "W.O.I.N.",
                "module_woin.json"
            }
        },
    };
}