@using CampaignKit.Compendium.Helper.Pages
@inherits LayoutComponentBase
<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

<RadzenLayout>
    <RadzenHeader>
        <div class="d-flex align-items-center">
            <RadzenImage Src="/images/logo.png" />
            <RadzenMenu>
                <RadzenMenuItem Text="File" Icon="folder">
                    <RadzenMenuItem Text="New.." Icon="add" Click="ShowNewDialog"/>
                    <RadzenMenuItem Text="Load..." Icon="file_upload" Click="ShowUploadDialog" />
                    <RadzenMenuItem Text="Save..." Icon="file_download" Click="OnDownload" Visible="(SelectedCompendium != null)"/>
                    <hr class="separator mx-2 text-dark">
                    <RadzenMenuItem Text="W.O.I.N." Icon="folder" Click="@(args => ShowPackageDialog(_packages["woin"][0], _packages["woin"][1]))" />
                </RadzenMenuItem>
                <RadzenMenuItem Text="Compendium" Icon="library_books" Visible="(SelectedCompendium != null)">
                    <RadzenMenuItem Text="Add Sources..." Icon="add_link" Click="OnAddSources"/>
                    <RadzenMenuItem Text="Remove Sources..." Icon="link_off" Click="OnRemoveSources"/>
                    <RadzenMenuItem Text="Add Labels..." Icon="new_label" Click="OnAddLables" />
                    <RadzenMenuItem Text="Remove Labels..." Icon="label_off" />
                    <hr class="separator mx-2 text-dark">
                    <RadzenMenuItem Text="Generate" Icon="loop" Click="OnGenerate" />
                </RadzenMenuItem>                
            </RadzenMenu>
        </div>
    </RadzenHeader>
    <RadzenBody>
        <Body SelectedCompendium="SelectedCompendium" 
            SelectedCompendiumChanged="OnSelectedCompendiumChanged"
            SelectedLabelGroup="SelectedLabelGroup"
            SelectedLabelGroupChanged="OnSelectedLabelGroupChanged"
            SelectedSourceDataSet="SelectedSourceDataSet"
            SelectedSourceDataSetChanged="OnSelectedSourceDataSetChanged"
            TemporaryLabels="TemporaryLabels"></Body>
    </RadzenBody>
</RadzenLayout>

@code{

    /// <summary>
    /// Dictionary containing package names and locations.
    /// </summary>
    private Dictionary<string, List<string>> _packages = new()
    {
        { "woin", new List<string> 
            { 
                "W.O.I.N.",
                "package-woin.json"
            }
        },
    };
}